$SCREEN .title{
	font-size: 60px;
    font-family: $BOLD;
	padding-top: 47px;
	padding-bottom: 47px;
    padding-left: 128px;
    
    background: -webkit-linear-gradient(top,  #B8FC4D 0%, #8ED726 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #B8FC4D 0%, #8ED726 100%); /* W3C */
}

$SCREEN .description{
    font-size: 40px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 128px;
    padding-right: 128px;
    
    background-color: #333133;
}

$SCREEN .categoryHolder .category {