$SCREEN .paneHolder {
	position: absolute;
	
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

$SCREEN .paneHolder .rightPane {
	position: absolute;
	
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;

    border-left: 2px solid #C6F68B;
	background: -webkit-linear-gradient(top,  #B8FC4D 0%, #8ED726 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #B8FC4D 0%, #8ED726 100%); /* W3C */
}

$SCREEN .paneHolder .rightPane .container {
	position: relative;
	
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

$SCREEN .paneHolder .rightPane .container .box {
	background-color: rgba(255, 255, 255, 0.92);
	border-radius: 6px;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.4);
	
	padding: 60px;
	
	position: absolute;
	
	top: 180px;
	left: 50%;
	margin-left: -654px;
	
	width: 1188px;
}

$SCREEN .paneHolder .rightPane .container .box h1 {
	text-align: center;
	
	font-family: $BOLD !important;
	font-size: 88px;
}

$SCREEN .paneHolder .rightPane .container .box h3 {
	text-align: center;
	
	font-family: $BOLD;
	font-size: 40px;
}

$SCREEN .paneHolder .rightPane .container .box p {
	font-size: 28px;
	margin-top: 20px;
	margin-bottom: 30px;
	line-height: 1.3em;
	text-align: justify;
}

$SCREEN .paneHolder .rightPane .container .box .button {
	float: right;
	width: 356px;
}

$SCREEN .schools {
	width: 1188px;
	height: 560px;
	
	background-color: rgba(255, 255, 255, 0.8);
	
	border: solid 1px #797C76;
	border-radius: 10px;
	margin-bottom: 30px;
	
	padding-top: 30px;
	padding-bottom: 30px;
}

$SCREEN .schools li {
	display: block;
	
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
}

$SCREEN .schools a {
	display: block;
	position: relative;
	
	padding: 30px;
	
	background-color: rgba(184, 252, 77, 0.08);
	border: solid 1px #797C76;
	border-radius: 6px;
	box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.05);
}

$SCREEN .schools a.selected {
	border: solid 8px rgba(190, 230, 190, 1);
}

$SCREEN .schools h2 {
	font-family: $BOLD;
	margin: 0px;
	margin-bottom: 6px;
}

$SCREEN .schools .address {
	margin: 0px !important;
}

$SCREEN .schools .arrow {
	position: absolute;
	
	right: 60px;
	top: 50%;
	
	color: rgba(0, 0, 0, 0.3);
	
	font-size: 80px;
	margin-top: -46px;
}

$SCREEN .next.disabled {
	opacity: 0.4;
}