.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

body, * {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "Comic Sans MS", "Papyrus", sans-serif;
}

.center {
	text-align: center;
}

#navHolder {
	background-image: url("graphics/navBar.png");
	background-repeat: repeat-x;
	background-position-y: 20px;
}

#main {
	background-image: url("graphics/wood.png");
	background-repeat: repeat-x;
	background-position: 50% 0%;
}

#logo {
	background-image: url("graphics/logo.png");
	background-repeat: no-repeat;
	background-position: 0% -6px;
	height: 162px;
	position: relative;
}

#logoText {
	padding-left: 164px;
	background-image: url("graphics/logoText.png");
	background-repeat: no-repeat;
	background-position: 164px 42px;
	height: 104px;
	width: 676px;
}

#homeTopBar h1 {
	color: white;
	font-size: 36px;
	text-shadow: 0px 3px 4px black;
	text-align: center;
	padding-left: 80px;
	padding-right: 80px;
	margin-top: -10px;
	margin-bottom: -10px;
}

.navButton {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	font-size: 16px;
	text-decoration: none;
	color: #333133;
	
	border-radius: 10px;
	border: 1px solid #A6E24F;
	background-color: #8BCE2E;
	position: absolute;
}

#teacher {
	left: 560px;
	top: 52px;
}

#student {
	left: 720px;
	top: 52px;
}

.navButton:hover {
	color: #333133;
	background-color: #7EBE2A;
	text-decoration: none;
}

#ipad {
	margin-top: 30px;
	background-image: url("graphics/ipadFrame.png");
	width: 580px;
	height: 454px;
	background-repeat: no-repeat;
	display: block;
	margin-right: auto;
	float: left;
	margin-bottom: 140px;
}

#videoText {
	display: block;
	width: 286px;
	float: left;
	font-size: 28px;
	font-weight: normal;
	color: white;
	margin-top: 60px;
	margin-left: 20px;
	line-height: 1.2em;
}

#videoText p {
	padding-top: 10px;
	font-size: 18px;
	line-height: 1.1em;
	font-weight: 300;
}

#app {
	margin-top: 10px;
	width: 214px;
	height: 64px;
	float: left;
	background-image: url("graphics/appstoreBadge.png");
}

#desc {
	width: 408px;
	float: left;
	margin-left: 20px;
}

img {
	float: left;
}