$SCREEN .logo {
	width: 306px;
	height: 250px;
	
	background-image: url("$ASSETS/logo-big.png");
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 40px;
}

$SCREEN .logContainer {
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 30px;
	
	width: 1600px;
	height: 800px;
	
	overflow-x: auto;
	overflow-y: scroll;
	
	border: solid 1px #adadad;
	background-color: #e8e8e8;
	
	padding: 10px;
	font-family: "Courier New", "Courier", monospace;
	font-size: 32px;
}