$SCREEN .description {
    font-size: 40px;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 60px;
    padding-right: 60px;
    height: 340px;
    
    position: relative;
    
    background-color: #333133;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.2);
}

$SCREEN .description h1 {
	display: block;
    font-size: 60px;
    font-family: $BOLD;
    float: left;
    width: 1400px;
}

$SCREEN .description .button {
	float: right;
	width: 356px;
}

$SCREEN .description p {
	display: block;
	width: 1400px;
	float: left;
}

$SCREEN .description .percent {
	display: block;
	position: absolute;
	right: 80px;
	top: 110px;
	width: 300px;
	
	font-size: 160px;
	color: #8ED726;
	font-family: $BOLD;
}

$SCREEN .totalLabel {
	display: block;
	position: absolute;
	right: 80px;
	top: 280px;
	width: 300px;
	
	font-size: 40px;
	color: white;
	font-family: $BOLD;
	text-align: center;
}

.signout {
	color: white;
	border: none;
	
	background: -webkit-linear-gradient(top,  #9CDD56, #82D11C) !important; /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #9CDD56, #82D11C) !important; /* W3C */
}

$SCREEN .category {
	display: block;
	float: left;
	margin-top: 40px;
	margin-left: 60px;
	width: 602px;
	height: 720px;
}

$SCREEN .category .scroll {	
	height: 660px;
	overflow: auto;
}

$SCREEN .category .title {
	width: 602px;
	height: 64px;
	padding-top: 24px;
	
	font-size: 40px;
	font-family: $BOLD;
	text-align: center;
	
	background-color: rgba(184, 252, 77, 0.12);
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
}


$SCREEN .category ul.progress li {
    display: block;
    width: 640px;
}

$SCREEN .category ul.progress li.section {
    font-size: 40px;
    padding-left: 10px;
    padding-top: 24px;
    padding-bottom: 14px;
}

$SCREEN .category ul.progress li {
    background-image: url("$ASSETS/uncheck.png");
    background-repeat: no-repeat;
    background-position: 18px 14px;
    
    padding-left: 100px;
    padding-top: 24px;
    padding-bottom: 32px;
    
    font-size: 34px;
    font-family: $BOLD;
}

$SCREEN .category ul.progress li.completed div {
    background-image: url("$ASSETS/check.png");
}