$SCREEN .paneHolder {
	position: absolute;
	
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

$SCREEN .paneHolder .rightPane {
	position: absolute;
	
	right: 0px;
	width: 640px;
	height: auto;
	top: 0px;
	bottom: 0px;
    border-left: 2px solid #000;
	background-color: #333133;
	
	overflow: auto;
}

$SCREEN .paneHolder .leftPane {
	position: absolute;
	
	left: 0px;
	top: 0px;
	right: 640px;
	bottom: 0px;
}

$SCREEN .paneHolder .leftPane .scroll {
	height: 1310px;
	overflow: auto;
}

$SCREEN .container {
    font-size: 40px;
}

$SCREEN .paneHolder .leftPane .container h2, $SCREEN .paneHolder .leftPane .container h2 span{
	font-size: 80px;
}

$SCREEN .paneHolder .leftPane .container p {
	line-height: 1.2em;
	text-align: justify;
}

$SCREEN .paneHolder .rightPane ul.nav li {
    display: block;
    width: 640px;
    
    color: white;
    
    background-image: url("$ASSETS/itemBorder.png");
    background-repeat: repeat-x;
    background-position: 0% 100%;
}

$SCREEN .paneHolder .rightPane ul.nav .current {
    background: -webkit-linear-gradient(top,  #C6FF5C 0%, #8ED726 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #C6FF5C 0%, #8ED726 100%); /* W3C */
}
    
$SCREEN .paneHolder .rightPane ul.nav li.section {
    background-image: url("$ASSETS/section.png");
    background-repeat: repeat-x;
    border-bottom: 2px solid #848B90;
}

$SCREEN .paneHolder .rightPane ul.nav li.section div {
    background-image: none;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 14px;
}

$SCREEN .paneHolder .rightPane ul.nav li div {
    background-image: url("$ASSETS/uncheck.png");
    background-repeat: no-repeat;
    background-position: 18px 14px;
    
    padding-left: 100px;
    padding-top: 24px;
    padding-bottom: 32px;
    
    font-size: 34px;
    font-family: $BOLD;
    text-shadow: 0px 4px 2px #4B4F53;
}

$SCREEN .paneHolder .rightPane ul.nav li.current div {
    padding-bottom: 30px;
    
    color: black;
    text-shadow: 0px 2px 2px #E2FFB5;
}

$SCREEN .paneHolder .rightPane ul.nav li.completed div {
    background-image: url("$ASSETS/check.png");
}

$SCREEN .question .title {
	font-family: $BOLD;
	margin-bottom: 10px;
}

$SCREEN .question .answer {
	display: block;
	padding: 26px;
	padding-left: 88px;
	
	background-image: url("$ASSETS/uncheck.png");
	background-position: 18px 28px;
	background-repeat: no-repeat;
	
	line-height: 1.5em;
}

$SCREEN .question .answer.selected {
	background-image: url("$ASSETS/check.png") !important;
	background-color: #E6FDC4 !important;
	
}

$SCREEN .question .answer.odd {
	background-color: #F8F8F8;
}

$SCREEN .question {
	margin-bottom: 40px;
}

$SCREEN h2.quizTitle {
	border: solid 2px #6F6F6F;
	font-family: $BOLD;
	font-size: 60px !important;
	padding: 40px;
	margin-bottom: 20px;
	
	color: #373437;
	
	background: -webkit-linear-gradient(top,  #B8FC4D 0%, #8ED726 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #B8FC4D 0%, #8ED726 100%); /* W3C */
}

$SCREEN a.button {
	margin-top: 60px;
	margin-bottom: 60px;
}

$SCREEN .next {
	display: inline-block;
	padding: 26px;
	text-align: center;
	
	font-size: 36px;
	font-family: $BOLD;
	
	color: white;
	border-radius: 16px;
	border: solid 1px #797C76;

	background: -webkit-linear-gradient(top,  #9CDD56, #82D11C) !important; /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #9CDD56, #82D11C) !important; /* W3C */
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
}