$SCREEN .paneHolder {
	position: absolute;
	
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

$SCREEN .paneHolder .rightPane {
	position: absolute;
	
	right: 0px;
	width: 640px;
	top: 0px;
	bottom: 0px;
    border-left: 2px solid #000;
	background-color: #333133;
}

$SCREEN .paneHolder .leftPane {
	position: absolute;
	
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
    
    overflow: scroll;
}

$SCREEN .paneHolder .leftPane .container {
    overflow: scroll;
}

$SCREEN .container {
    font-size: 40px;
    padding-top: 50px;
    padding-botton: 50px;
    padding-left: 100px;
    padding-right: 740px;
}

$SCREEN .paneHolder .leftPane .container h2, $SCREEN .paneHolder .leftPane .container h2 span{
	font-size: 80px;
}

$SCREEN .paneHolder .leftPane .container p {
	line-height: 1.2em;
	text-align: justify;
}

$SCREEN .paneHolder .leftPane .title{
	font-size: 60px;
    font-family: $BOLD;
	padding-top: 48px;
	padding-bottom: 48px;
    padding-left: 60px;
    
    border-bottom: 2px solid #6F6F6F;
    
    background: -webkit-linear-gradient(top,  #B8FC4D 0%, #8ED726 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #B8FC4D 0%, #8ED726 100%); /* W3C */
}

$SCREEN .paneHolder .rightPane ul.nav li {
    display: block;
    width: 640px;
    
    color: white;
    
    background-image: url("$ASSETS/itemBorder.png");
    background-repeat: repeat-x;
    background-position: 0% 100%;
}

$SCREEN .paneHolder .rightPane ul.nav .current {
    background: -webkit-linear-gradient(top,  #C6FF5C 0%, #8ED726 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #C6FF5C 0%, #8ED726 100%); /* W3C */
}
    
$SCREEN .paneHolder .rightPane ul.nav li.section {
    background-image: url("$ASSETS/section.png");
    background-repeat: repeat-x;
    border-bottom: 2px solid #848B90;
}

$SCREEN .paneHolder .rightPane ul.nav li.section div {
    background-image: none;
    
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 14px;
}

$SCREEN .paneHolder .rightPane ul.nav li div {
    background-image: url("$ASSETS/uncheck.png");
    background-repeat: no-repeat;
    background-position: 18px 14px;
    
    padding-left: 100px;
    padding-top: 24px;
    padding-bottom: 32px;
    
    font-size: 34px;
    font-family: $BOLD;
    text-shadow: 0px 4px 2px #4B4F53;
}

$SCREEN .paneHolder .rightPane ul.nav li.current div {
    padding-bottom: 30px;
    
    color: black;
    text-shadow: 0px 2px 2px #E2FFB5;
}

$SCREEN .paneHolder .rightPane ul.nav li.completed div {
    background-image: url("$ASSETS/check.png");
}