em {
	font-style: italic;
}

#navBarContainer {
	background-color: red;
	
	position: relative;
	
	top: 0px;
	left: 0px;
	right: 0px;
	
	height: 87px;
	
	text-align: center;
	font-size: 87px;
	letter-spacing: 5px;
	font-weight: bold;
}