em {
	font-style: italic;
}

#container {
	position: absolute;
	
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#navBarContainer {
	background-color: red;
	
	position: relative;
	
	top: 0px;
	left: 0px;
	right: 0px;
	
	height: 87px;
	
	text-align: center;
	font-size: 87px;
	letter-spacing: 5px;
	font-weight: bold;
}

#contentHolder {
	position: fixed;
	
	top: 87px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	background-color: #ff26db; /* we should never see this */
}

.screenContainer {
	position: absolute;
	top: 0px;
	
	font-size: 48px;
	
	width: 2048px;
	height: 1409px;
	
	background-color: white;
}

#cssHolder { /* just for holding CSS rules, no actual content here */
	display: none;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.2em;
}