em {
	font-style: italic;
}

#container {
	position: absolute;
	
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#navBarContainer {
	background-color: red;
	
	position: relative;
	
	top: 0px;
	left: 0px;
	right: 0px;
	
	height: 87px;
	
	text-align: center;
	font-size: 87px;
	letter-spacing: 5px;
	font-weight: bold;
}

#contentHolder {
	position: fixed;
	
	top: 87px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	background-color: #ff26db; /* we should never see this */
}

.screenContainer {
	position: absolute;
	top: 0px;
	
	font-size: 48px;
	
	width: 2048px;
	height: 1409px;
	
	background-color: white;
}

#cssHolder { /* just for holding CSS rules, no actual content here */
	display: none;
}

p {
    margin-bottom: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 24px;
}

.textBox {
	background-color: rgba(255, 255, 255, 0.8);
	
	border: solid 1px #797C76;
	border-radius: 10px;
	
	padding: 25px;
	height: 32px;
	
	margin-bottom: 30px;
	
	position: relative;
}

.textBox label {
	font-family: "HelveticaNeue-Bold";
	font-size: 36px;
	
	color: #2B2728;
	
	display: block;
	position: absolute;
	top: 24px;
	left: 25px;
}

.textBox input {
	border: none;
	/* background-color: rgba(0, 0, 0, 0.1); */
	
	position: absolute;
	top: 17px;
	bottom: 15px;
	right: 20px;
	
	padding: 0px !important;
	margin: 0px;
	
	font-size: 36px;
}

.button {
	display: inline-block;
	
	border: solid 1px #797C76;
	border-radius: 15px;
	
	padding: 25px;
	text-align: center;
	
	font-family: "HelveticaNeue-Bold";
	font-size: 36px;
	
	color: rgba(0, 0, 0, 0.9);
	
	background: -webkit-linear-gradient(top,  rgba(245, 245, 245, 0.75) 0%,rgba(206, 206, 206, 0.75) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(245, 245, 245, 0.75) 0%,rgba(206, 206, 206, 0.75) 100%); /* W3C */
}